h1 { font-size: 66px; color: #353030; font-weight:600; line-height: 80px;}
h2 { font-size: 48px; margin-bottom: 30px;}
p { font-size: 22px; color: #5f5a5a; line-height: 1.8; margin-bottom: 0;}

section{padding: 80px 0;}

.topmargin-xs{margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}

body {
    
    font-family: 'Source Sans Pro', sans-serif;
    
}
/* colocamos un color de fondo blanco, una sombra, altura mínima de 100 px*/
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    min-height: 100px;
    z-index: 2;
}
/*Cambiamos a color negro los links */
.nav-link {color: #1a1a1a}
/*Cambiamos a color negro cuando el usuario pase por los links */
.nav-link:hover {color: #1a1a1a}

.logo-brand {min-width: 80px;
    max-width: 80px;
}

#hero {
   background-image: url("http://localhost/sitio_var/images/hero.jpg");
   background-size: cover;
   padding-top: 90px;
   min-height: 700px;
   color: var(#ffffff);
}

#hero p {
    color: #3f3b3b;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

/*Portafolio 2 imagenes */

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 1;
}

.portfolio-details h2 {
    margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
    color: var(--white-color);
}

/*Footer*/
footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
    background-color: black;
}



footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



@media (max-width: 575.98px) { 
    h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .portfolio-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }


